<!-- reset-password page -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form>
      <div>
        <h2>Enter your new password</h2>
        <input type="password" name="password" placeholder="Your Password" required />
        <button type="submit">Submit</button>
      </div>
    </form>
  </body>
  <script>
    const form = document.querySelector('form');

    form.addEventListener('submit', async (e) => {
      e.preventDefault();
      // get values
      const password = form.password.value;

      try {
        // fetches the data from the reset-password api
        const res = await fetch('/api/reset-password/<%=token %>', {
          method: 'PATCH',
          body: JSON.stringify({ password }),
          headers: { 'Content-Type': 'application/json' },
        });
        const data = await res.json();
        console.log(data);
        if (data.status) {
          alert('password reset successful');
          location.assign('/');
        }
      } catch (err) {
        console.log(err);
      }
    });
  </script>
</html>
